<div class="movie-card-container">
  <div class="container">
    <div class="movie-card-img-begins">

    </div>
    <div class="movie-card-text">
      <p>ACTION,ADVENTURE</p>
      <h1>Batman begins</h1>
      <h5>IMDB: <span>8.2</span></h5>
      <p>
        Batman Begins explores the origins of the Batman legend and the Dark Knight's emergence as a force...
      </p>
      <div class="movie-card-button">
        <button class="buttom" >Watch</button>
        <button class="buttom-details" >Details</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="movie-card-img-begins"></div>
    <div class="movie-card-text">
      <p>ACTION,ADVENTURE</p>
      <h1>Batman begins</h1>
      <h5>IMDB: <span>8.2</span></h5>
      <p>
        Batman Begins explores the origins of the Batman legend and the Dark Knight's emergence as a force...
      </p>
      <div class="movie-card-button">
        <button class="buttom" >Watch</button>
        <button class="buttom-details" >Details</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="movie-card-img-begins"></div>
    <div class="movie-card-text">
      <p>ACTION,ADVENTURE</p>
      <h1>Batman begins</h1>
      <h5>IMDB: <span>8.2</span></h5>
      <p>
        Batman Begins explores the origins of the Batman legend and the Dark Knight's emergence as a force...
      </p>
      <div class="movie-card-button">
        <button class="buttom" >Watch</button>
        <button class="buttom-details" >Details</button>
      </div>
    </div>
  </div>
</div>

