<div class="container">
  <h1>BATMAN</h1>
  <h4>The Dark Knight Trilogy</h4>
  <div class="generos">
    <h5>Action</h5>
    <h5>Adventure</h5>
  </div>
  <p>In the name of his murdered parents, Bruce Wayne wages eternal war on the criminals of Gotham City. He is vengeance.
    He is the night.
    He is Batman.</p>
  <div class="space"></div>
  <p>One of the most iconic fictional characters in the world, Batman has dedicated his life to an endless crusade Read
    More</p>
  <div class="spaceButtom">
  <button class="buttom" >Watch Series</button>

  </div>
</div>
